 @import "/src/resources/style/props.scss";


 // ================================================================================ //

 .orderContainer {
     grid-column: 2/3;
     display: flex;
     flex-direction: column;
     gap: 20px;
     height: min-content;
     margin: 20px;
     text-align: center;

     form {
         gap: 20px;

         input {
             @include glassMorph;
             @include borderRadiusPreset;
             @include svBorder;
             text-align: center;
             color: $font;

             &::-webkit-outer-spin-button,
             &::-webkit-inner-spin-button {
                 -webkit-appearance: none;
                 margin: 0;
             }

             &[type=number] {
                 -moz-appearance: textfield;
             }

             &::placeholder {
                 color: rgb(78, 78, 78)
             }
         }

         .cityInputContainer {
             display: flex;
             justify-content: space-around;

             .cityInput {
                 width: 40%;
             }
         }

         .mainButtonDisabled {
             &:hover {
                 transform: scale(1);
             }

             color: darkgray !important;
             filter: grayscale(70%);
         }
     }

     span {
         color: red;
         font-style: italic;
         font-size: 10px;
     }
 }


 // ============================== TOAST ============================== //

 .toastStyle {
     @include glassMorph(rgba(0, 156, 8, 0.35));
     @include borderRadiusPreset;
     @include svBorder;
     font-size: small;
     color: $nightFont !important;
     padding: 0 20px !important;
 }


 // ============================== AUTOCOMPLETE INPUT ============================== //

 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 textarea:-webkit-autofill,
 textarea:-webkit-autofill:hover,
 textarea:-webkit-autofill:focus,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
     border: $iridium;
     -webkit-text-fill-color: $font !important;
     -webkit-box-shadow: 0 0 0px 1000px wheat inset;
     transition: background-color 5000s ease-in-out 0s;
 }


 // ==============================  MEDIA QUERIES  ============================== //

 @media only screen and (max-width: 500px) {
     .orderContainer {
         grid-column: 2/3;
         gap: 10px;
         margin: 0px;

         h2 {
             font-size: 16px !important;
         }

         p {
             font-size: 14px;
             text-align: justify;
         }

         form {
             gap: 15px;

             label {
                 font-size: 15px;
             }

             input{
                 font-size: 13px;
                &::placeholder{
                    font-size: 13px;
                }
             }

             .cityInput {
                 width: 42%;
             }

             .cityInputContainer {
                 display: flex;
                 justify-content: space-between;

                 .cityInput {
                     width: 45%;
                 }
             }

             .mainButtonDisabled {
                 &:hover {
                     transform: scale(1);
                 }

                 color: darkgray !important;
                 filter: grayscale(70%);
             }

             .mainButton {
                 width: 90%;
                 font-size: 13px;
                 width: min-content;
                 margin-bottom: 1em;
             }
         }

         span {
             color: red;
             font-style: italic;
             font-size: 10px;
         }
     }


     // ============================== TOAST ============================== //

     .toastStyle {
         font-size: smaller;
         color: $nightFont !important;
         padding: 0 10px !important;
     }


 }