 @import "/src/resources/style/props.scss";


 // ================================================================================ //

 .orderContainer {
     grid-column: 2/3;
     display: flex;
     flex-direction: column;
     gap: 20px;
     height: min-content;
     margin: 20px;
     text-align: center;

     form {
         gap: 20px;

         input {
             @include glassMorph;
             @include borderRadiusPreset;
             @include svBorder;
             text-align: center;
             color: $font;

             &::-webkit-outer-spin-button,
             &::-webkit-inner-spin-button {
                 -webkit-appearance: none;
                 margin: 0;
             }

             &[type=number] {
                 -moz-appearance: textfield;
             }

             &::placeholder{
                color:rgb(78, 78, 78)
             }
         }

         .cityInput {
             width: 40%;
         }

         .mainButtonDisabled {
             &:hover {
                 transform: scale(1);
             }

             color: darkgray !important;
             filter: grayscale(70%);
         }
     }

     span {
         color: red;
         font-style: italic;
         font-size: 10px;
     }
 }


 // ============================== TOAST ============================== //

 .toastStyle {
     @include glassMorph(rgba(0, 156, 8, 0.35));
     @include borderRadiusPreset;
     @include svBorder;
     font-size: small;
     color: $nightFont !important;
     padding: 0 20px !important;
 }


 // ============================== AUTOCOMPLETE INPUT ============================== //

 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 textarea:-webkit-autofill,
 textarea:-webkit-autofill:hover,
 textarea:-webkit-autofill:focus,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
     border: $iridium;
     -webkit-text-fill-color: $font !important;
     -webkit-box-shadow: 0 0 0px 1000px wheat inset;
     transition: background-color 5000s ease-in-out 0s;
 }