@import "/src/resources/style/props.scss";

.cartContainer{
    grid-column:2/3;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: min-content;
    padding: 20px;
    @include glassMorph;
    @include borderRadiusPreset;
    @include svBorder;

    tr{
        border-bottom: 2px solid $font;
    }
}