 @import "/src/resources/style/props.scss";


 // ================================================================================ //

 .cartContainer {
     grid-column: 2/3;
     display: flex;
     flex-direction: column;
     gap: 30px;
     height: min-content;
     padding: 20px;
     @include glassMorph;
     @include borderRadiusPreset;
     @include svBorder;

     tr {
         border-bottom: 2px solid $font;
     }
 }


 // ============================== NIGHT MODE ============================== //

 .cartContainerNight {
     @include glassMorphNight;
     @include borderRadiusPreset;
     @include svBorder;
 }

 .nightTable {
     color: $nightFont !important;
     border-color: $nightFont !important;

     tr {
         border-color: $nightFont;

         &:hover {
             td {
                 color: $nightFont !important;
             }
         }
     }
 }