 @import "/src/resources/style/props.scss";


 // ================================================================================ //

 .containerDetails {
     grid-column: 2/3;
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     justify-content: space-around;
     gap: 1.5rem;
     padding: 1.5rem;

     .infoCard {
         height: min-content;
         width: 100%;
         display: flex;
         flex-direction: column;
         gap: 20px;
         justify-content: space-around;
         align-items: center;
         padding: 25px;
         @include glassMorph;
         @include svBorder;
         border-radius: 5px;
         margin: 30px 0;

         .infoContainer {
             height: min-content;
             width: 100%;
             display: flex;
             flex-wrap: wrap;
             gap: 20px;
             justify-content: space-around;
             align-items: center;
             padding: 0 30px;

             .prodInfo {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 gap: 30px;

                 p {
                     width: auto;
                 }
             }

             .recipe {
                 width: 100%;
                 display: flex;
                 flex-direction: column;
                 justify-content: space-around;
                 align-items: center;

                 .buttonsRecipe {
                     width: 100%;
                     height: max-content;
                     display: flex;
                     justify-content: space-around;
                     align-items: center;
                 }

                 .collapse {
                     height: min-content;
                 }

                 .expandedRecipe {
                     text-align: justify;
                     padding: 25px;
                     @include glassMorph;
                     @include borderRadiusPreset;
                     @include shadowPreset;
                     @include svBorder;
                     margin: 30px 0;
                    }
                }
                .stockAndPrice{
                   display: flex;
                }
         }
     }
 }
 .containerDetails {
     .infoCardNight {
         @include glassMorphNight;
         @include svBorder;
     }
 }


 // ============================== NIGHT MODE ============================== //

 .hoverNight {
     &:hover {
         color: $nightFont !important;
     }
 }

 // ==============================  MEDIA QUERIES  ============================== //

 @media only screen and (max-width: 670px) {
     .containerDetails {
         grid-column: 1/4;
         gap: 1rem;
         padding: 5%;

         .infoCard {
             gap: 10%;
             padding: 10px;
             margin: 0;

             h2 {
                 font-size: 18px;
             }

             h3 {
                 font-size: 16px;
             }

             .infoContainer {
                 gap: 10px;
                 padding: 5%;

                 .prodInfo {
                     gap: 0px;
                 }

                 .recipe {
                     display: flex;
                     flex-direction: row;
                     justify-content: space-around;
                     align-items: center;

                     .buttonsRecipe {
                         flex-direction: column;
                         gap: 1.5em;
                     }
                 }
             }
         }
     }
     .stockAndPrice{
        display: flex;
        flex-direction: column;
     }
 }