// ======================================================================================================================== //

@mixin glassMorph {
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin borderRadiusPreset {
    border-radius: 5px;
}

@mixin shadowPreset {
    box-shadow: 11px 11px 30px 0px rgba(0, 0, 0, 0.75);
}

// ======================================================================================================================== //

$silver: #A0A0A0;
$gold: #EFC90B;
$iridium: #801FE2;

// ======================================================================================================================== //


.mainPacks {
    grid-column: 2/3;
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
    h2{
        text-align: justify;
        padding: 20px 25px;
        @include glassMorph;
        @include borderRadiusPreset;
        @include shadowPreset;
        box-shadow:
        0 0 0 3px #5B2B2A,
        0 0 0 6px #FA9305,
        0 0 0 9px #853605;
    }
    .linkToDetails{
        width: 100%;
    }
}