// ======================================================================================================================== //

@mixin glassMorph {
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin borderRadiusPreset {
    border-radius: 5px;
}

@mixin shadowPreset {
    box-shadow: 11px 11px 30px 0px rgba(0, 0, 0, 0.75);
}

// ======================================================================================================================== //

$silver: #A0A0A0;
$gold: #EFC90B;
$iridium: #801FE2;

// ======================================================================================================================== //


.packCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    min-width: 200px;
    transition: ease all .20s;
    margin: 10px 0 10px 0;
    cursor: pointer;
    @include glassMorph;
    border-radius: 5px;
    margin: auto;
    box-shadow:
        0 0 0 3px #5B2B2A,
        0 0 0 6px #FA9305,
        0 0 0 9px #853605;

    .contentCard {
        height: 20%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        padding:10px;
        img {
            height: 100%;
            width: auto;
        }
        p{
            margin: 0;
        }
    }

    &:hover {
        transform: scale(1.05);
    }
}
.packCardWoH{
    @extend .packCard;
    cursor: default;
    &:hover{
        transform: scale(1);
    }

}

.silver {
    border: 3px solid $silver;

    &::after {
        content: '';
        position: absolute;
        top: -42px;
        height: 24px;
        width: 24px;
        background-image: url(src/resources/images/stars/Silver.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include glassMorph;
        border-radius: 5px;
        box-shadow:
            0 0 0 3px #5B2B2A,
            0 0 0 6px #FA9305,
            0 0 0 9px #853605;
    }
}

.gold {
    border: 3px solid $gold;

    &::after {
        content: '';
        position: absolute;
        top: -42px;
        height: 24px;
        width: 24px;
        background-image: url(src/resources/images/stars/Gold.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include glassMorph;
        border-radius: 5px;
        box-shadow:
            0 0 0 3px #5B2B2A,
            0 0 0 6px #FA9305,
            0 0 0 9px #853605;
    }
}

.iridium {
    border: 3px solid $iridium;

    &::after {
        content: '';
        position: absolute;
        top: -42px;
        height: 24px;
        width: 24px;
        background-image: url(src/resources/images/stars/Iridium.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include glassMorph;
        border-radius: 5px;
        box-shadow:
            0 0 0 3px #5B2B2A,
            0 0 0 6px #FA9305,
            0 0 0 9px #853605;
    }
}