 @import "/src/resources/style/props.scss";


 // ================================================================================ //

 header {
     grid-column: 1/4;
     height: min-content;
     width: 100%;
     @include glassMorph;
     border: none;
     z-index: 1000;

     .logo {
         height: 80%;
         width: 100%;
         border-bottom: 2px solid $font;

         img {
             height: auto;
             width: 250px;
             padding: 10px;
         }
     }

     nav {
         height: 20%;
         width: 100%;
         display: flex;
         justify-content: space-around;
         align-items: center;

         ul {
             width: 100%;
             list-style: none;
             display: flex;
             justify-content: space-around;
             align-items: center;
             margin: 0;
             padding: 0;

             a {
                 width: min-content;
                 transition: ease all .20s;
             }

             .buttonDropdown {
                 position: relative;
                 background-color: transparent;
                 border: none;
                 height: min-content;
                 width: min-content;
             }

             .dropDownNavBar {
                 position: absolute;
                 display: flex;
                 flex-direction: column;
                 padding: 10px;

                 @include borderRadiusPreset;
                 @include glassMorph(rgba(255, 255, 255, 0.85));

                 a {
                     transition: ease all .20s;

                     &:hover {
                         color: $iridium !important;
                     }
                 }
             }

             li {
                 transition: ease all .20s;
                 padding: 10px;
                 display: flex;
                 justify-content: center;
                 align-items: center;

             }

             .liWithHover:hover {
                 transform: scale(1.05);
                 color: $iridium !important;
             }
         }
     }
 }

 .activeOnNav {
     color: $iridium !important;
 }


 // ============================== NIGHT MODE ============================== //

 .headerNight {
     @include glassMorphNight;
     border: none;

     a {
         color: $nightFont !important;
     }

     .logo {
         border-bottom: 2px solid $nightFont;
     }
 }

 nav {
     ul {

         .buttonDropdownNight {
             color: $nightFont;
         }

         .dropDownNavBarNight {
             @include glassMorphNight(rgba(14, 15, 94, 0.85));
         }
     }
 }