@import "/src/resources/style/props.scss";


header {
    grid-column: 1/4;
    height: min-content;
    width: 100%;
    @include glassMorph;


    .logo {
        height: 80%;
        width: 100%;
        border-bottom: 2px solid black;
    }

    nav {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        ul {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0;

            li {
                transition: ease all .20s;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    a {
                        transform: scale(1.05);
                        color: $iridium !important;
                    }
                }

                a {
                    transition: ease all .20s;
                    height: min-content;
                    text-decoration: none;
                    color: inherit;



                }
            }
        }
    }
}

.activeOnNav{
    color: $iridium !important;
}