@import "/src/resources/style/props.scss";

// ======================================================================================================================== //


.shopCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    min-width: 200px;
    transition: ease all .20s;
    margin: 10px 0 10px 0;
    cursor: pointer;
    @include glassMorph;
    border-radius: 5px;
    @include svBorder;

    &:hover {
        transform: scale(1.05);
    }

    .mainShopCardTitle {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @include glassMorph(rgba(128, 31, 226,.65));
        @include glassMorph(rgba(253, 193, 117,.65));
        border-radius: 5px 5px 0 0;
        border: 1.5px solid black;
    }

    .backCard {
        height: 90%;
        width: 100%;

    }

    .spring {
        background-image: url("https://i.imgur.com/GOb2o4s.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 300%;
    }

    .summer {
        background-image: url("https://i.imgur.com/btsVtoQ.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 300%;
    }

    .autumn {
        background-image: url("https://i.imgur.com/kUQNEW6.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 300%;
    }

    .specials {
        background-image: url("https://i.imgur.com/3ey7tKq.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 300%;
    }
}

.night {
    @include glassMorphNight;

    .mainShopCardTitle {
        @include glassMorph(rgba(104, 72, 31, 0.65));
    }
}