@font-face {
  font-family: pixel;
  src: url(src/resources/fonts/pixel.ttf);
}

// ======================================================================================================================== //

@mixin glassMorph {
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin borderRadiusPreset {
  border-radius: 10px;
}

@mixin shadowPreset {
  box-shadow: 11px 11px 30px 0px rgba(0, 0, 0, 0.75);
}

// ======================================================================================================================== //

$silver: #A0A0A0;
$gold: #EFC90B;
$iridium: #801FE2;


// ======================================================================================================================== //

.mainButton {
  @include glassMorph;
  @include borderRadiusPreset;
  @include shadowPreset;
  padding: 10px 20px 10px 20px;
  border: 2px solid #1e1e1e;
}

.body {
  min-height: 100vh;
  height: 100%;
  background-image: url(src/resources/images/mainDay.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: pixel;
  font-size: 14px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  line-height: 27px;

  header {
      height: min-content;
      width: 100%;
      @include glassMorph;


      .logo {
          height: 80%;
          width: 100%;
          border-bottom: 2px solid black;
      }

      nav {
          height: 20%;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          ul {
              width: 100%;
              list-style: none;
              display: flex;
              justify-content: space-around;
              align-items: center;
              margin: 0;

              li {
                  padding: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  a {
                      height: min-content;
                      text-decoration: none;
                      color: inherit;
                  }
              }
          }
      }
  }

  main {
      display: grid;
      grid-template-columns: 10% auto 10%;
      height: min-content;

      .indexContainer {
          grid-column: 2/3;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          padding: 20px 0 20px 0;
          margin-bottom: 0;

          .mainImg {
              grid-column: 2/3;
              height: 400px;
              width: 80%;
              margin: auto;
              background-image: url(../images/farm.jpg);
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              @include borderRadiusPreset;
              @include shadowPreset;
          }

          p {
              text-align: justify;
              padding: 25px;
              @include glassMorph;
              @include borderRadiusPreset;
              @include shadowPreset;
          }
      }


      // ======================== //

      .mainShop {
          grid-column: 2/3;
          height: min-content;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          justify-content: space-around;
          align-items: center;

          .card {
              height: 300px;
              min-width: 200px;
              border: 2px solid blue;
              background-color: antiquewhite;
          }
      }

      // ======================== //

      .mainPacks {
          grid-column: 2/3;
          height: min-content;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .packContainer {
              height: min-content;
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              gap: 20px;
              justify-content: space-around;
              align-items: center;

              .packCard {
                  height: 300px;
                  min-width: 200px;
                  background-color: antiquewhite;
                  @include glassMorph;
              }

              .silver {
                  border: 6px solid black hsl(0, 100%, 50%);
                  // border: 4px solid $silver;
                  box-shadow:
                      0 0 0 10px hsl(0, 0%, 80%),
                      0 0 0 15px hsl(0, 0%, 90%);
              }

              .gold {
                  border: 4px solid $gold;
                  border: 4px solid $gold;
              }

              .iridium {
                  border: 4px solid $iridium;
                  border: 4px solid $iridium;
              }
          }
      }

      // ======================== //

      .infoCard {
          grid-column: 2/3;
          height: min-content;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          justify-content: space-around;
          align-items: center;

          .prodInfo {
              display: flex;
              justify-content: center;
              align-items: center;

              .infoCardModal {
                  display: flex;
                  flex-direction: row;
                  height: 300px;
                  min-width: 200px;
                  border: 2px solid blue;
                  background-color: antiquewhite;
              }

              p {
                  width: auto;
              }
          }


      }

      // ======================== //

  }

  footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 80px;
      @include glassMorph;
  }
}